<div class="page-container">
  <div class="logo-content">
    <div>
      <%= image_tag "logo-fond-blanc.png", class: "logo" %>
    </div>
  </div>

  <div class="nav-bar-container">
    <div class="nav-bar">

      <%= link_to "/" do %>
        <div class="onglet-home">
          <h6>Accueil</h6>
        </div>
      <% end %>

      <%= link_to "/pages/offres" do %>
        <div class="onglet-offres">
          <h6>Offres & Évènements</h6>
        </div>
      <% end %>

      <%= link_to "/pages/tarifs" do %>
        <div class="onglet-tarifs">
          <h6>Tarifs</h6>
        </div>
      <% end %>

      <%= link_to "/pages/contact" do %>
        <div class="onglet-contact">
          <h6>Contact & Accès</h6>
        </div>
      <% end %>

    </div>
  </div>

  <div class="image-home">
    <div class="carousel slide" data-interval="4000" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "Massage.jpg", class: "d-block w-100 h-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "soins_visage.jpg", class: "d-block w-100 h-100" %>
        </div>
      </div>
    </div>
  </div>

  <div class="presentation">
    <div class="titre-presentation">
      <h2>Présentation</h2>
    </div>
    <div class="text-infos">
      <div class="text">
        <p>Le travail, la routine..., notre quotidien est synonyme<br>
          de stress en permanence.<br>
          C'est pourquoi, il est primoridal de s'accorder un<br>
          moment pour décompresser et prendre soin de<br>soi.<br>
          L'institut Brin De Douce’Heure est là pour vous<br>
          offrir une parenthèse de bien-être et vous reçoit<br>
          dans un cadre cosy & une atmosphère de détente.<br>
          Vivez une expérience unique & laissez - vous<br>
          chouchouter.
        </p>
      </div>

      <div class="infos-home">
        <div class="titre-infos">
          <h2>Infos pratiques</h2>
        </div>
        <div class="infos-content">
          <div class="adresse">
            <p>
              Institut Brin De Douce’Heure<br>
              <i class="fas fa-map-marker-alt"></i> 8 rue de la gourlière 85710<br>
              Châteauneuf
            </p>
          </div>

          <div class="telephone">
            <p><i class="fas fa-phone"></i> 06 13 20 19 66</p>
          </div>

          <div class="facebook-link">
            <p><i class="fab fa-facebook"></i> Rejoignez <strong><%= link_to "Brin De Douce’Heure", "https://www.facebook.com/Brin-De-DouceHeure-968973346643386", target: :_blank %></strong> sur Facebook.</p>
          </div>

          <div class="horaire">

            <div class="horaire-titre">
              <h4>Horaires</h4>
            </div>

            <div class="horaire-texte">
              <p>Uniquement sur RDV du <strong>Lundi</strong> au <strong>Vendredi de 9h à 12h</strong> / <strong>14h à 19h</strong> et le <strong>Samedi 9h à 16h</strong>.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
